:root {
  --radial-gradient: radial-gradient(
    circle at top right,
    rgb(87, 87, 87),
    rgb(53, 53, 53),
    rgb(87, 87, 87),
    rgb(53, 53, 53)
  );
}

body {
  background: #eeeeee;
  font-family: sans-serif;
  color: rgb(53, 53, 53);
  display: grid;
  align-items: center;
  justify-content: center;
}
header {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
h1 {
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0;
  width: min-content;
}
h1 span {
  font-size: 3rem;
}

.grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  grid-gap: 1rem;
  padding: 1rem;
  border-radius: 0.2rem;
  width: max-content;
  background: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

/* selects alld divs inside of .grid */
.grid div {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background: #f6e58d;
  font-size: 3rem;
  font-weight: bold;
  border-radius: 0.05rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.score-container {
  background: rgb(53, 53, 53);
  background-image: radial-gradient(
    circle at top right,
    rgb(87, 87, 87),
    rgb(53, 53, 53),
    rgb(87, 87, 87),
    rgb(53, 53, 53)
  );
  color: white;
  width: max-content;
  height: max-content;
  padding: 0.5em 0.4em 0.2em;
  border-radius: 0.3rem;
  margin-bottom: 2rem;
  margin-left: auto;
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  background-size: 200%;
  animation: bg-animation 20s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

#score {
  font-size: 2rem;
  font-weight: bold;
}

footer {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 4rem;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}
