* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #eeeeee;
  font-family: sans-serif;
  color: rgb(53, 53, 53);
  display: grid;
  align-items: center;
  justify-content: center;
}

.container {
  min-width: 320px;
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 0 0.5rem;
}
h1 {
  align-self: flex-end;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0;
  width: min-content;
  line-height: 1.5;
  /*   font-weight: normal; */
}
h1 span {
  font-size: 3rem;
  letter-spacing: 1px;
}

@keyframes bounce-heading {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.grid {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  background: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

/* selects all divs inside of .grid */
.grid div {
  display: grid;
  align-items: center;
  justify-content: center;
  min-width: 70px;
  /*   maxWidth: 120px; */
  min-height: 70px;
  /*   max-height: 120px; */
  background: #f6e58d;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 0.05rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.score-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.score-container {
  background: rgb(53, 53, 53);
  background-image: radial-gradient(
    circle at top right,
    rgb(87, 87, 87),
    rgb(53, 53, 53),
    rgb(87, 87, 87),
    rgb(53, 53, 53)
  );
  color: white;
  width: max-content;
  height: max-content;
  padding: 0.5em 0.4em 0.2em;
  border-radius: 0.3rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  background-size: 200%;
  animation: bg-animation 20s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.score-title {
  margin-bottom: 0.5em;
}
#score {
  font-size: 2rem;
  font-weight: bold;
}

footer {
  padding: 4rem 0.75rem 2rem;
  font-size: 0.9rem;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

@media (min-width: 360px) {
  .grid {
    grid-gap: 0.7rem;
    padding: 0.7rem;
  }
  .grid div {
    font-size: 1.8rem;
  }
  .container {
    min-width: 360px;
    width: 100%;
  }
}
